In [1]:
import pandas as pd
import numpy as np

In [44]:
df=pd.read_csv("C:/Users/22211/extended_dataset.csv")

In [45]:
df

,Age,Gender,Total Biluribin,Direct Bilurubin,Alkophos,Sgpt,Sgot,Total protiens,Albumin,AG Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
1744,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
1745,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
1746,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
1747,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
1748,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [46]:
Y =df["Dataset"]
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: Dataset, dtype: int64

In [47]:
df=df.drop("Dataset",axis=1)
df.head()

,Age,Gender,Total Biluribin,Direct Bilurubin,Alkophos,Sgpt,Sgot,Total protiens,Albumin,AG Ratio
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40

df_2=pd.get_dummies(df, cloumns=["Gender"], drop_first=False)
df_2

In [48]:
df_2 = pd.get_dummies(df, columns=["Gender"], drop_first=False)
df_2

,Age,Total Biluribin,Direct Bilurubin,Alkophos,Sgpt,Sgot,Total protiens,Albumin,AG Ratio,Gender_Female,Gender_Male
0,65,0.7,0.1,187,16,18,6.8,3.3,0.90,True,False
1,62,10.9,5.5,699,64,100,7.5,3.2,0.74,False,True
2,62,7.3,4.1,490,60,68,7.0,3.3,0.89,False,True
3,58,1.0,0.4,182,14,20,6.8,3.4,1.00,False,True
4,72,3.9,2.0,195,27,59,7.3,2.4,0.40,False,True
...,...,...,...,...,...,...,...,...,...,...,...
1744,60,0.5,0.1,500,20,34,5.9,1.6,0.37,False,True
1745,40,0.6,0.1,98,35,31,6.0,3.2,1.10,False,True
1746,52,0.8,0.2,245,48,49,6.4,3.2,1.00,False,True
1747,31,1.3,0.5,184,29,32,6.8,3.4,1.00,False,True
1748,38,1.0,0.3,216,21,24,7.3,4.4,1.50,False,True

In [49]:
from sklearn import preprocessing

In [50]:
from sklearn import preprocessing 
x=df_2.values
min_max_scaler=preprocessing.MinMaxScaler()
x_scaled=min_max_scaler.fit_transform(x)
df=pd.DataFrame(x_scaled)
df

,0,1,2,3,4,5,6,7,8,9,10
0,0.709302,0.004021,0.000000,0.060576,0.003015,0.001626,0.594203,0.521739,0.240,1.0,0.0
1,0.674419,0.140751,0.275510,0.310699,0.027136,0.018296,0.695652,0.500000,0.176,0.0,1.0
2,0.674419,0.092493,0.204082,0.208598,0.025126,0.011791,0.623188,0.521739,0.236,0.0,1.0
3,0.627907,0.008043,0.015306,0.058134,0.002010,0.002033,0.594203,0.543478,0.280,0.0,1.0
4,0.790698,0.046917,0.096939,0.064485,0.008543,0.009961,0.666667,0.326087,0.040,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1744,0.651163,0.001340,0.000000,0.213483,0.005025,0.004879,0.463768,0.152174,0.028,0.0,1.0
1745,0.418605,0.002681,0.000000,0.017098,0.012563,0.004269,0.478261,0.500000,0.320,0.0,1.0
1746,0.558140,0.005362,0.005102,0.088911,0.019095,0.007928,0.536232,0.500000,0.280,0.0,1.0
1747,0.313953,0.012064,0.020408,0.059111,0.009548,0.004472,0.594203,0.543478,0.280,0.0,1.0
1748,0.395349,0.008043,0.010204,0.074744,0.005528,0.002846,0.666667,0.760870,0.480,0.0,1.0

In [51]:
df.fillna(df.mean(),inplace=True)
df

,0,1,2,3,4,5,6,7,8,9,10
0,0.709302,0.004021,0.000000,0.060576,0.003015,0.001626,0.594203,0.521739,0.240,1.0,0.0
1,0.674419,0.140751,0.275510,0.310699,0.027136,0.018296,0.695652,0.500000,0.176,0.0,1.0
2,0.674419,0.092493,0.204082,0.208598,0.025126,0.011791,0.623188,0.521739,0.236,0.0,1.0
3,0.627907,0.008043,0.015306,0.058134,0.002010,0.002033,0.594203,0.543478,0.280,0.0,1.0
4,0.790698,0.046917,0.096939,0.064485,0.008543,0.009961,0.666667,0.326087,0.040,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1744,0.651163,0.001340,0.000000,0.213483,0.005025,0.004879,0.463768,0.152174,0.028,0.0,1.0
1745,0.418605,0.002681,0.000000,0.017098,0.012563,0.004269,0.478261,0.500000,0.320,0.0,1.0
1746,0.558140,0.005362,0.005102,0.088911,0.019095,0.007928,0.536232,0.500000,0.280,0.0,1.0
1747,0.313953,0.012064,0.020408,0.059111,0.009548,0.004472,0.594203,0.543478,0.280,0.0,1.0
1748,0.395349,0.008043,0.010204,0.074744,0.005528,0.002846,0.666667,0.760870,0.480,0.0,1.0

In [52]:
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, Y, test_size=0.30, random_state=42)

In [34]:
!pip install pydotplus

Collecting pydotplus
  Downloading pydotplus-2.0.2.tar.gz (278 kB)
     ---------------------------------------- 0.0/278.7 kB ? eta -:--:--
     - -------------------------------------- 10.2/278.7 kB ? eta -:--:--
     - -------------------------------------- 10.2/278.7 kB ? eta -:--:--
     ---- -------------------------------- 30.7/278.7 kB 262.6 kB/s eta 0:00:01
     -------- ---------------------------- 61.4/278.7 kB 363.1 kB/s eta 0:00:01
     ----------------- ------------------ 133.1/278.7 kB 653.6 kB/s eta 0:00:01
     ---------------------------------- --- 256.0/278.7 kB 1.1 MB/s eta 0:00:01
     -------------------------------------- 278.7/278.7 kB 1.1 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: pyparsing>=2.0.1 in c:\users\22211\anaconda3\lib\site-packages (from pydotplus) (3.0.9)
Building wheels for collected packages: pydotplus
  Building wheel for pydotplus (setup.py): started
  Building wheel for pydotplus (setup.py): finished with status 'done'
  Created wheel for pydotplus: filename=pydotplus-2.0.2-py3-none-any.whl size=24578 sha256=1ce12e62e058c02c3e34cd597ea0501e4c4ab525cc84c081eab6576ec3b330f0
  Stored in directory: c:\users\22211\appdata\local\pip\cache\wheels\bd\ce\e8\ff9d9c699514922f57caa22fbd55b0a32761114b4c4acc9e03
Successfully built pydotplus
Installing collected packages: pydotplus
Successfully installed pydotplus-2.0.2

In [60]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_error, accuracy_score
from math import sqrt
from sklearn.model_selection import train_test_split

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df, Y, test_size=0.30, random_state=42)

# Instantiate the DecisionTreeClassifier
clf = DecisionTreeClassifier()

# Train the classifier on the training data
clf.fit(X_train, y_train)

# Predict the labels of the test set
y_pred = clf.predict(X_test)

# Calculate accuracy
asc = accuracy_score(y_test, y_pred)

# Calculate mean squared error
mse = mean_squared_error(y_test, y_pred)

# Calculate root mean squared error
rmse = sqrt(mse)
print(asc,mse,rmse)

0.9771428571428571 0.022857142857142857 0.15118578920369088

In [61]:
from sklearn.ensemble import RandomForestClassifier
from math import sqrt
from sklearn.metrics import mean_squared_error
clf=RandomForestClassifier(n_estimators=100,max_depth=2,random_state=0)
clf.fit(X_train,y_train)
ypred=clf.predict(X_test)
accuracy_score(y_test,ypred)
asc=accuracy_score(y_test,ypred)
mse=mean_squared_error(y_test,y_pred)
rmse=sqrt(mse)
print(asc,mse,rmse)

0.699047619047619 0.022857142857142857 0.15118578920369088